.area {
  background-color: #f5f8fa;
  border: 1px solid #edeeee;
  border-radius: 6px;
  margin: 10px 0;
  padding: 30px 0;
  word-break: break-all;
}
.area-margin {
  text-align: center;
  margin: 30px 10px;
}


#web-login-button a {
  width: 151px;
  height: 44px;
  background: url("../img/btn_login_base.png") no-repeat;
  display: block;
}

.profile-img {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
.profile-margin {
  text-align: center;
  margin: 10px;
}

.profile-button {
  margin: 20px 0
}
